html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #7d2c2c;
}

.content {
    width: 45vw;
    height: 45vw;
}

#options-container {
    background-color: #ebc256;
    border-radius: 5px;
    width: 45vw;
    height: 45vw;

    /* Creating 4x2 grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}

#options-container div {
    background-color: #e6d3b2;
    border-radius: 5px;
}

#options-container div:hover {
    background-color: #d0b992;
    cursor: pointer;
}

#play-button {
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonPlay.png");
}

#instrum-button {
    grid-column-start: 3;
    grid-column-end: 5;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonPiano.png");
}

#reset-button {
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonReset.png");
}

#random-button {
    grid-column-start: 3;
    grid-column-end: 5;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonDice.png");
}

#play-container {
    background-color: #ebc256;
    border-radius: 5px;
    width: 45vw;
    height: 45vw;

    /* Creating 4x4 grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}

#play-container div {
    background-color: #e6d3b2;
    border-radius: 5px;
}

/* Hack that should be simplified */
#play-container div:hover .play-text {
    background-color: #d0b992;
    cursor: pointer;
}

#play-container div:hover {
    background-color: #d0b992;
    cursor: pointer;
}

.slots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-text {
    color: #b53232;
    font-size: calc(100% + 3vw);
}

#selection-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#instrum-container, #minuet-container {
    display: none;
}

.circle {
    position: absolute;
    margin: auto;
    background-color: #e6d3b2;
    color: #b53232;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    text-align: center;
    line-height: 15vw;
    font-size: calc(100% + 3vw);
    box-shadow: 5px 5px 20px dimgrey;
    cursor: pointer;
}

#exit-button {
    top: 0; left: 0; bottom: 0; right: 0;
}

#piano-button {
    top: -65vh; left: 0; bottom: 0; right: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonPiano.png");
}

#clav-button {
    top: 50vh; left: 25vw; bottom: 0; right: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonClav.png");
}

#harpsi-button {
    top: 50vh; left: -25vw; bottom: 0; right: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../img/buttonHarpsi.png");
}

#min-0 {
    top: -60vh; left: -80vw; bottom: 0; right: 0;
}

#min-1 {
    top: -60vh; left: -40vw; bottom: 0; right: 0;
}

#min-2 {
    top: -60vh; left: 0; bottom: 0; right: 0;
}

#min-3 {
    top: -60vh; left: 40vw; bottom: 0; right: 0;
}

#min-4 {
    top: -60vh; left: 80vw; bottom: 0; right: 0;
}

#min-5 {
    top: 60vh; left: -80vw; bottom: 0; right: 0;
}

#min-6 {
    top: 60vh; left: -48vw; bottom: 0; right: 0;
}

#min-7 {
    top: 60vh; left: -17vw; bottom: 0; right: 0;
}

#min-8 {
    top: 60vh; left: 17vw; bottom: 0; right: 0;
}

#min-9 {
    top: 60vh; left: 48vw; bottom: 0; right: 0;
}

#min-10 {
    top: 60vh; left: 80vw; bottom: 0; right: 0;
}

#mobile-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#mobile-container #mobile-button {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #990073;
    color: white;
    border-radius: 3px;
    margin-top: -40px;
    margin-left: -50px;
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: calc(100% + 2vw);
}

@media screen and (orientation: portrait) {
    #main-container {
        flex-direction: column;
        align-items: center;
    }

    #options-container {
        width: 46vh;
        height: 23vh;
    }

    #play-container {
        width: 45vh;
        height: 45vh;
    }

    #play-button {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #instrum-button {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #reset-button {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #random-button {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .circle {
        width: 25vw;
        height: 25vw;
        line-height: 25vw;
        font-size: calc(100% + 2vw);
    }

    #piano-button {
        top: -55vw;
    }

    #clav-button {
        top: 40vw;
        left: 40vw;
    }

    #harpsi-button {
        top: 40vw;
        left: -40vw;
    }

    #min-0 {
        top: -40vh; left: -60vw;
    }

    #min-1 {
        top: -70vh; left: -30vw;
    }

    #min-2 {
        top: -40vh; left: 0;
    }

    #min-3 {
        top: -70vh; left: 30vw;
    }

    #min-4 {
        top: -40vh; left: 60vw;
    }

    #min-5 {
        top: 70vh; left: -60vw;
    }

    #min-6 {
        top: 40vh; left: -60vw;
    }

    #min-7 {
        top: 70vh; left: 0;
    }

    #min-8 {
        top: 40vh; left: 0;
    }

    #min-9 {
        top: 70vh; left: 60vw;
    }

    #min-10 {
        top: 40vh; left: 60vw;
    }
}
